VFX06G_1018/VFX06G_kurzusfelvetel.xsd

<?xml version= "1.0" encoding="utf-8"?>


<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nev" type="xs:string"/>
  <xs:element name="szulev" type="xs:string"/>
  <xs:element name="szak">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="evf"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="kurzusnev" type="xs:string"/>
  <xs:element name="kredit" type="xs:byte"/>
  <xs:element name="hely" type="xs:string"/>
  <xs:element name="idopont" type="xs:string"/>
  <xs:element name="oktato" type="xs:string"/>
  <xs:element name="kurzus">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="kurzusnev"/>
        <xs:element ref="kredit"/>
        <xs:element ref="hely"/>
        <xs:element ref="idopont"/>
        <xs:element ref="oktato"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="jovahagyas" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="hallgato">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="nev"/>
        <xs:element ref="szulev"/>
        <xs:element ref="szak"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="kurzusok">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="kurzus" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VFX06G_kurzusfelvetel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hallgato"/>
        <xs:element ref="kurzusok"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="tanev"/>
      <xs:attribute type="xs:string" name="egyetem"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
